<%= form_for item do |f| %>
    <label>Menu:</label>
    <%= f.collection_select :menu_id, Menu.all, :id, :name, include_blank: true%>
    <br>
    <label>Category:</label>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true%>
    <br>
    <label>Item Name:</label>
    <%= f.text_field :name, class: "field_with_errors" %>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), step: :any %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.submit %>
<% end %>