<header class="break">
<h2>Menu</h2>
</header>
<% if user_signed_in? %>
    <% if current_user.admin %>
        <h5>----- Admin -----</h5>
        <p><%= button_to "Go Back Menu List", menus_path, method: :get %></p>
        <p><%= button_to "Go Back Category List", categories_path, method: :get %></p>
        <h5>------ Only ------</h5>
    <% end %>
<% end %>

<h3>Filter Items by Menu and Category</h3>
<div class="filter">
<%= form_tag("/items", method: "get") do %>
    <label>Menu</label>
    <%= select_tag "menu", options_from_collection_for_select(@menus, :id, :name), include_blank: true %>
    <label>Category</label>
    <%= select_tag "category", options_from_collection_for_select(@categories, :id, :name), include_blank: true %>
    <%= submit_tag "Filter"%>
<% end %>
</div>

<% @items.each do |item| %>
    <div>
        <p><%= link_to item.name, item_path(item) %></p>
    </div>
<% end %>